.idea/
.DS_Store*
web/
.editorconfig
.gitattributes
vendor/
.ddev/*
!.ddev/commands
.ddev/commands/*
!.ddev/commands/host
.ddev/commands/host/*
!.ddev/commands/host/setup-local
!.ddev/commands/host/add-admin
!.ddev/.env.web
!.ddev/config.yaml
!.ddev/config.local.yaml
!.ddev/.gitignore
composer.lock

