.multi-step-ajax-form.uds-form.block.block--multi-step-form-instance input.btn {
  padding-left: 2rem !important;
}

.multi-step-ajax-form.uds-form.block.block--multi-step-form-instance,
#block-multi-step-form-instance {
  width: 70%;
  max-width: 1200px;
  margin: 4rem auto 0;
}

.asudrupal .border {
  border: 1px solid #dee2e6 !important;
}

.asudrupal .py-4 {
  padding-bottom: 2rem !important;
}
.asudrupal .px-3 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.asudrupal .my-4 {
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}
